*{
    font-family: 'Teko', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    text-align: center;

}
#header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
header>h1{
    font-size: 8vw;
    position: relative;
    z-index: 99;
    color: darkcyan;
}
header>h2{
    font-size: 4vw;
    position: relative;
    z-index: 99;
    color: goldenrod;
}
header>.twitter>h4{
    font-size: 3vw;
    position: relative;
    z-index: 99;
}
header>.twitter{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 99;
    align-items: center;

}
header>.twitter>i{
    color: darkcyan;
    font-size: 3vw;
    position: relative;
    z-index: 99;
    margin-right: 1vw;
}
/* Navbar */

nav{
    background-color: black;
    position: relative;
    z-index: 99;
}
.nav{
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2vw;  
    text-align: right;
}
.nav-brand{
    width: 86%;
    display: inline-flex;
    color: gold;
    font-size: 3vw;
    letter-spacing: 1vw;
    margin-left: 1vw;  
}

.nav-item>a{
    color: gold;
    text-decoration: none;
    font-size: 2vw;
    text-align: right;
}
/* Proj Grid */
.projectGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 10vw);
}
.projectGrid::before{
    grid-column: 1/1;
    grid-row: 1/1;
}
.projectGrid:nth-child(2n){
    background-color: darkcyan;
    color: goldenrod;
}
.projectGrid:nth-child(2n)>p>a:visited{
    color: goldenrod;
    opacity: 100%;
}
.projSqrX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5vh;
    text-align: center;
}

.projSqrX>p>a{
    font-size: 2vw !important;
}

.projSqrX:hover{
    opacity: 80%;
    background-color: cyan;
    transform: rotate3d(1, 1, 1, 10deg);
}
.projSqrY{
    display: flex;
    line-height: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    color: darkcyan;
    text-align: center;
}

.projSqrY>p>a{
    font-size: 2vw !important;
    color: darkcyan;
}
.projSqrY>h1>a:visited{
    color: darkcyan !important;
    opacity: 100%;
}
.projSqrY>p>a:visited{
    color: darkcyan !important;
    opacity: 100%;
}
.projSqrY:hover{
    opacity: 80%;
    background-color: gold;
    transform: rotate3d(1, 1, 1, 10deg);
}
.projSqrY>p{
    font-size: 2vw;
    line-height: 5vh;
}
.projSqrX>h1{
    font-size: 2vw;
    line-height: 5vh;
}
.projSqrY>h1{
    font-size: 2vw;
    line-height: 5vh;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    opacity: 80%;
}

p{
    color: inherit;
}

/* Media Query: Mobile and Tablet */
@media only screen and (max-width: 1400px) {

    header>h1{
        font-size: 15vw;
    }
    header>h2{
        font-size: 10vw;
    }
    header>.twitter>h4{
        font-size: 8vw;
    }
    header>.twitter>i{
        font-size: 8vw;
    }

    .nav-brand{
        width: 65%;
        display: inline-flex;
        color: gold;
        font-size: 8vw;
        letter-spacing: 1vw;
        margin-left: 2vw;  
    }
    
    .nav-item>a{
        color: gold;
        text-decoration: none;
        font-size: 6vw;
        text-align: right;
    }

    .projectGrid{
        font-weight: 700;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 50vw);
    }
    .projSqrX>h1>a{
        font-size: 10vw !important;
    }
    .projSqrX>p{
        font-size: 6vw !important;
    }
    .projSqrY>h1>a{
        font-size: 10vw !important;
    }
    .projSqrY>p{
        font-size: 6vw !important;
    }
    .projSqrY>h1{
        font-size: 10vw !important;
    }
    .projSqrX>p>a{
        font-size: 6vw !important;
    }
    .projSqrY>p>a{
        font-size: 6vw !important;
    }
    .projSqrY:nth-of-type(8)>h1{
        font-size: 10vw;
    }
    
    .projSqrX{
        flex-direction: colum;
        text-align: center;
    }
    .projSqrY{
        flex-direction: column;
        text-align: center;
    }
    .projectGrid::before{
        grid-column: unset;
        grid-row: unset;
    }
    .projSqrY:hover{
        opacity: 80%;
        background-color: gold;
        transform: none;
    }
    .projSqrX:hover{
        opacity: 80%;
        background-color: cyan;
        transform: none;
    }
    .projSqrX>h1{
        font-size: 10vw;
        line-height: normal;
    }
    .projSqrY>p{
        line-height: normal;
    }

}