*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Unica One', cursive !important;
}

.header{
    position: absolute;
    top: 30px;
    background: darkcyan;
    border-radius: 0px 0px 25px 25px;
    border-bottom: 10px double black;
    z-index: 1;
    box-shadow: 0px 5px 10px black;
    pointer-events: none;
}
.header>h1{
    color: gold;
    font-size: 10vw;
    text-align: center;
    letter-spacing: 5vw;
}

.DVLogo:hover{
    transform:scale(2) !important;
}

.demoSVG:hover{
    transform:scale(1.5) !important;
}


/* About */
.aboutContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.aboutContainer>.heading{
    color: gold;
    text-align: center;
    font-size: 4vw;
    background-color: darkcyan;
    width: 100%;
}
.aboutContainer > article{
   width: 80%;
    padding-top: 1.5vh;
    line-height: 5vw;
    font-size: 2vw;
}

nav{
    position: relative;
    background-color: black;
    display: flex;
    z-index: 99;
    min-height: 30px;
}
nav>ul{
    display: flex;
    flex-direction: row;
}



.navBrand{
    color: gold;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 2vw;
    margin-right: 2vw;
}
a{
    text-decoration: none !important;
    color: goldenrod !important;
}
a:hover{
    opacity: 80%;
    color: goldenrod !important
}

nav>ul>li{
    margin-left: 2vw;
    list-style: none;
}

header>.welcome{
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    
}
header>.welcome>h3{
    color: gold;
    font-size: 3vw;
}
header>.welcome>article{
    color: goldenrod;
    font-size: 2vw;
}

.skilsBg{
    padding-top: 5vh;
    display: grid;
    width: fit-content;
    height: fit-content;
    margin: auto;
    grid-template-columns: repeat(autofill, minmax(1fr, 100%));
    grid-template-rows: auto auto;
    grid-template-areas: 
    "hr hr hr"
    "s1 s2 s3"
    ;
    text-align: center;
    row-gap: 3vh;
    column-gap: vw;
}


.skill>article{
    line-height: 6vw;
    font-size: 2rem;
    margin-left: 1vw;
     margin-right: 1vw;

}
.skill > h1{
      
    font-size: 5vw ;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.skill:nth-last-of-type(1){
    grid-area: s1;
}
.skill:nth-of-type(2){
    grid-area: s2;

}
.skill:nth-of-type(3){
    grid-area: s3;

}

.headbar{
    width: fit-content;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    color: goldenrod;
    height: fit-content;
    grid-area: hr;
}

.headbar>h1{
    font-size: 5vw;
    color: gold;
}

.skillhead{
    color: goldenrod;
}

.expgrid{
    padding-top: 5vh;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(186px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
    "e1"
    "e2"
    "e3"
    ;
    text-align: center;
}

.exp:first-child{
    grid-area: e1;
}
.exp:nth-of-type(2){
    grid-area: e2;
}
.exp:nth-of-type(3){
    grid-area: e3;
}
.exp > h2{
    font-size: 4vw;
    color: gold;
    background-color: darkcyan;
}
.exp > article{
      
    letter-spacing: 1px;
    line-height: 6vw;
    font-size: 2vw;
}
.feLangList{
      
    list-style: none;
    padding-top: 10px;
    font-size: 2vw;

}
.feEl{
    padding-top: 10px;
}
.feEl:first-child:hover{
    font-size: 2.5rem;
}

.feEl:nth-of-type(2):hover{
    font-size: 2.5rem;
}
.feEl:nth-of-type(3):hover{
    font-size: 2.5rem;
}
.feEl:nth-of-type(4):hover{
    font-size: 2.5rem;
}

.beLangList{
      
    list-style: none;
    padding-top: 10px;
    font-size: 2vw;

}
.beEl{
    padding-top: 10px;
}
.beEl:first-child:hover{
    font-size: 2.5rem;

}

.beEl:nth-of-type(2):hover{
    font-size: 2.5rem;

}
.beEl:nth-of-type(3):hover{
    font-size: 2.5rem;

}


a{
    text-decoration: none !important;
    color: gold;
    font-size: 2vw !important;
}
a:visited{
    color: gold;
    opacity: 1 !important;

}

.contactMe{
    padding-top: 10vh;
}
.contactForm{
    width: 100%;
    height: fit-content;
    background-color: darkcyan;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
input, textarea{
    flex-basis:80%;
    background-color: transparent;
    border: none;
    color: goldenrod;
    border-bottom: 1px black solid ;
    padding-top: 3vh;
    font-size: 1.5vw;
}

input::placeholder{
    color: gold;
    font-size: 1.5vw;
}

textarea::placeholder{
    color: gold;
    font-size: 1.5vw;
}

.contactForm > button{
    font-size: 30px;
    flex-basis:30%;
    background-color: transparent;
    border: none;
    color: gold;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.DVLogo{
    width: 15vw;
}
.DVLogo:hover{
    transform:scale(1.5) !important;
}

.demoSVG:hover{
    transform:scale(1.5) !important;
}

.contactForm>.heading{
    font-size: 4vw;
    color: gold;
    background-color: darkcyan;
    flex-basis: 30%;
}


@media only screen and (max-width: 1200px) {

    nav{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: none;
    }

    
    
    /* About */
    .aboutContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .aboutContainer>.heading{
        text-align: center;
        font-size: 8vw;
    }
    .aboutContainer > article{
       width: 80%;
        padding-top: 1.5vh;
        font-size: 5vw;
        line-height: 10vw;
    }
    
    nav{
        position: relative;
        background-color: black;
        display: flex;
        z-index: 99;
        min-height: 30px;
    }
    
    
    
    .navBrand{
        align-self: center;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    nav>ul>li>a{
        opacity: 0.7;
        font-size: 5vw !important;
    }
    
    
    .skill > h1{
          
        font-size: 6vw ;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
    

    .exp > h2{
        font-size: 8vw;
        color: gold;
        background-color: darkcyan;
    }
    .exp > article{
        letter-spacing: 1px;
        line-height: 10vw;
        font-size: 5vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    a{
        text-decoration: none;
        color: gold;
    }
    a:hover{
        opacity: 80%;
        color: gold !important
    }
    .feLangList{
        font-size: 6vw;
    }
    .beLangList{
        font-size: 6vw;
    }
    .contactForm{
        width: 100%;
        height: fit-content;
        background-color: darkcyan;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    input, textarea{
        flex-basis:80%;
        background-color: transparent;
        border: none;
        color: goldenrod;
        border-bottom: 1px black solid ;
        padding-top: 3vh;
        font-size: 1.5vw;
    }
    
    input::placeholder{
        color: gold;
        font-size: 4vw;
    }
    
    textarea::placeholder{
        color: gold;
        font-size: 4vw;
    }
    
    .contactForm > button{
        font-size: 8vw !important;
        flex-basis:30%;
        background-color: transparent;
        border: none;
        color: gold;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .DVLogo{
        width: 250px;
    }

    .contactForm>.heading{
        font-size: 8vw;
        color: gold;
        background-color: darkcyan;
        flex-basis: 30%;
    }
    .navBrand>h1{
        display: none;
    }
}