*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}
body{
    overflow-x: hidden;
    padding-bottom: 5%;
}
header{
    text-align: center;

}
#header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
header>h1{
    font-size: 8vw;
    position: relative;
    z-index: 1;
    color: darkcyan;
}
header>h2{
    font-size: 4vw;
    position: relative;
    z-index: 1;
    color: goldenrod;
}
header>.twitter>h4{
    font-size: 3vw;
    position: relative;
    z-index: 1;
}
#main{
    position: absolute;
    z-index: 0;
}
header>.twitter{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;

}
header>.twitter>i{
    color: darkcyan;
    font-size: 3vw;
    position: relative;
    z-index: 1;
    margin-right: 1vw;
}
nav{
    background-color: black;
    position: relative;
    z-index: 1;
    margin-bottom: 2vh;
}
.nav{
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2vw;  
    text-align: right;
}
.nav-brand{
    width: 85%;
    display: inline-flex;
    color: gold;
    font-size: 3vw;
    letter-spacing: 1vw;
    margin-left: 1vw;  
}

.nav-item>a{
    color: gold;
    text-decoration: none;
    font-size: 2vw;
    text-align: right;
}

.aboutContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.aboutContainer>.heading{
    color: goldenrod;
    border-top: 3px solid darkcyan;
    border-bottom: 3px solid darkcyan;
    letter-spacing: 1vw;
    text-align: center;
    font-size: 600%;
}
.aboutContainer > article{
    width: 100%;
    padding: 2.5%;
    margin-top: 2.5%;
    font-size: 275%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.expgrid{
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(186px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
    "e1"
    "e2"
    "e3"
    ;
    text-align: left;
    column-gap: 1vw;
}
.expgridHeader{
    margin-top: 5%;
    width: 90%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.expgridHeader>h1{
    width: fit-content;
    font-size: 6vw;
    letter-spacing: 0.5vw;
    color: goldenrod;
    border-top: 3px solid darkcyan;
    border-bottom: 3px solid darkcyan;
    
}

.exp:first-child{
    grid-area: e1;
}
.exp:nth-of-type(2){
    grid-area: e2;
}
.exp:nth-of-type(3){
    grid-area: e3;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
}
.exp > h2{
    font-size: 500%;
    color: goldenrod;
    margin-left: 2vw;
}
.exp > article{
    margin-left: 2vw;
    letter-spacing: 1px;
    line-height: 3vw;
    font-size: 250%;
    padding-left: 2vw;
    padding-right: 2vw;
    border-left: 5px solid goldenrod;
}
.exp>ul{
    text-align: center;
    font-size: 250%;
}
.exp>img{
    align-self: center
}
.exp>svg{
    align-self: center
}
.exp{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2.5%;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* Front-End Languages */
.feLangList{
    list-style: none;

}


/* Backend Languages */
.beLangList{
    list-style: none;
}


.othList{
    list-style: none;
}

.headbar{
    width: fit-content;
    margin: auto;
    color: goldenrod;
    height: fit-content;
    grid-area: hr;
}

.headbar>h1{
    font-size: 6vw;
    letter-spacing: 0.5vw;
    color: goldenrod;
    border-top: 3px solid darkcyan;
    border-bottom: 3px solid darkcyan;
    margin-bottom: 4vh;
    margin-top: 10vh;
}

.princGr{
    position: relative;
    z-index: 1;
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    text-align: center;
    gap: 0px;
    grid-template-areas: 
    "hr hr hr"
    "s1 s2 s3"
    ;
}
.princ > h1{
    font-size: 275% ;
    padding-top: 1vh;
    padding-bottom: 2vh;
    letter-spacing: 0.5vw;
    
}
.princ:nth-of-type(n){
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-left: 12.5%;
    padding: 1%;
}
.princ:nth-of-type(1){
    grid-area: s1;
    
}
.princ:nth-of-type(3){
    grid-area: s2;

}
.princ:nth-of-type(2){
    grid-area: s3;

}

.contactForm{
    height: fit-content;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2.5%;
    padding-bottom: 0px;
    z-index:1;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
input, textarea{
    flex-basis:80%;
    background-color: transparent;
    border: none;
    color: goldenrod;
    border-bottom: 1px black solid ;
    padding-top: 3vh;
    font-size: 250%;
}

input::placeholder{
    color: goldenrod;
    font-size: 100%;
}

textarea::placeholder{
    color: goldenrod;
    font-size: 100%;
}

.contactForm > button{
    font-size: 250%;
    flex-basis:30%;
    background-color: transparent;
    border: none;
    color: goldenrod;
    margin-top: 3vh;
    margin-bottom: 3vh;
    transition: all 200ms ease-in-out;
    border-radius: 16px;
}
.contactForm>button:hover{
    background-color: darkcyan;
    color: white;
}


.contactForm>.heading{
    font-size: 500%;
    color: goldenrod;
    flex-basis: 50%;
    border-top: 3px solid darkcyan;
    border-bottom: 3px solid darkcyan;
}
.contactForm>h3{
    flex-basis: 100%;
    font-size: 200%;
    font-weight: initial;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

@media screen and (max-width: 1000px) {
    header>h1{
        font-size: 15vw;
    }
    header>h2{
        font-size: 10vw;
    }
    header>.twitter>h4{
        font-size: 8vw;
    }
    header>.twitter>i{
        font-size: 8vw;
    }
    #header{
        overflow-x: hidden;
    }
    .nav-brand{
        width: 65%;
        display: inline-flex;
        color: gold;
        font-size: 8vw;
        letter-spacing: 1vw;
        margin-left: 2vw;  
    }
    
    .nav-item>a{
        color: gold;
        text-decoration: none;
        font-size: 6vw;
        text-align: right;
    }
    .aboutContainer>.heading{
        letter-spacing: 1vw;
        font-size: 300%;
    }
    .aboutContainer > article{
        width: 80%;
        padding-top: 1.5vh;
        line-height: 5vh;
        font-size: 200%;
    }
    
    .expgridHeader>h1{
        width: fit-content;
        font-size: 300%;
        letter-spacing: 0.5vw;
        margin-bottom: 5%;
    }

    .exp:nth-of-type(3){
        margin-right: 1vw;
    }
    .exp > h2{
        font-size: 300%;
        color: goldenrod;
        margin-left: 2vw;
    }
    .exp > article{
        letter-spacing: 1px;
        line-height: 5vh;
        font-size: 200%;
    }

    /* Front-End Languages */
    .feLangList{
        font-size: 200% !important;
        line-height: 200%;
    }
    
    /* Backend Languages */
    .beLangList{     
        font-size: 200% !important;
        line-height: 200%;

    }
    
    .othList{
        font-size: 200% !important;
        line-height: 200%;
    }
    
    
    .headbar>h1{
        font-size: 300%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .princ > h1{
        font-size: 200% ;
    }
    input, textarea{
        font-size: 200%;
    }
    
    .contactForm > button{
        font-size: 200%;
    }
    
    
    .contactForm>.heading{
        font-size: 300%;
    }
    .princGr{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "hr"
        "s1"
        "s2"
        "s3"
        ;
    }
    .landing-text{
        width: 100%;
        font-size: 70%;
    }
}

.landing-text{
    width: 80%;
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px hsla(326, 94%, 50%, 0.636);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2.5%;
    animation: fadeIn 2500ms ease-in-out;
}
@keyframes fadeIn{
    0%{
        opacity: 0.01;
    }
    100%{
        opacity: 1;
    }
}
.landing-text>h1{
    font-size: 250%;
}
.landing-text>h1>a{
    color: goldenrod;
    text-decoration: none;
}
.landing-text>button{
    background: transparent;
    color: goldenrod;
    font-size: 250%;
    border: none;
    float: right;
    cursor: pointer;
    border-radius: 15px;
    padding: 0.5%;
}
.landing-text>button>a{
    color: goldenrod;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    border-bottom: 2px solid transparent;

}

.landing-text>button:hover>a{
    border-bottom: 2px solid goldenrod;

}