*{
    margin: 0px;
    padding: 0px;
    font-family: 'Unica One', cursive !important;
}

.absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-size: 3rem;
    margin-top: 3vh;
}
h1{
    font-size: 5rem;
}
.btn{
    background-color: transparent;
    border: solid white 3px;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin-top: 3vh;
}
body{
    width: 100vw;
    height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
    text-decoration: none;
}